body {
  background-color: #505050;
}
.child-div {
  position: absolute;
}
.not-visible {
  display: none;
}
.outline {
  fill-opacity: 0.0;
  stroke-opacity: 1.0;
  stroke-width: 4;
}

.captured-p1 {
  stroke: #500070;
}
.captured-p2 {
  stroke: #007030;
}
.required {
  stroke: #505050;
}
.restricted {
  stroke: #E00000;
}

.border-column {
  height: 32px;
  width: 128px;
}
.border-diagonal {
  height: 32px;
  width: 32px;
}
.border-row {
  height: 128px;
  width: 32px;
}

.border-default-p1 {
  background: #500070;
}
.border-default-p2 {
  background: #007030;
}

.border-required-p1 {
  background: radial-gradient(circle at center, #500070 0px, #500070 4px, #505050 7px, #500070 10px, #500070 100%);
}
.border-required-p2 {
  background: radial-gradient(circle at center, #007030 0px, #007030 4px, #505050 7px, #007030 10px, #007030 100%);
}

.bingo-tile {
  height: 128px;
  width: 128px;
}
td {
  background-color: #000000;
}
.bingo-tile-text {
  color: #C0A000;
  display: grid;
  place-items:center;
  text-align: center;
  user-select: none;
}
